/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */
.header {
    position: fixed;
    width: 70%;
    height: 2.25em;
    padding: 10px;
    background-color: #fdf9c4;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 3px solid black;
}
/* HEADER > TITULO DE LA PÃGINA */
.tituloPagina {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.tituloPagina-h1{
    display: inline-block;
    font-size: 1em;
}
.tituloPagina-img {
    display: inline-block;
    max-width: 1em;
}
/* HEADER > NAV-BAR */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1em;
}
.nav-link:hover {
    color: #fff;
}

/* BODY */
.body {
    /* background-image: url(https://imag.bonviveur.com/pan-chipa-en-un-cestillo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;  */
    background: #f08080;
    display: flex;
    justify-content: center;
}



/* MAIN */
.main {
    background-color: #fdf9c4;
    padding-top: 40px;
    margin: 0 30px;
    width: 70%;
    box-shadow: 0 0 50px 5px black;
    padding: 60px 10px 0;
}

/* INICIO */
.inicio {
    text-align: center;
    padding: 20px;
}



/* Segunda Seccion */
.sectionFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;
    border-top: 4px solid #f08080;
}
.sectionFlex-h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}






.envio {
    min-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    border-right: 4px solid #f08080;
}
.envio-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.envio__form-label {
    width: 100%; 
}
.envio__form-label input{
    background-color: transparent;
    width: 100%; 
}
.textarea-direccion {
    background-color: transparent;
    height: 7.5rem;
    min-width: 100%;
    resize: none;
}



/* Precio */

.tablaDePrecios {
    max-width: 50%;
    height: auto;
    padding: 20px;
}
.listaDePrecios {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.precio {
    height: 8.1em;
    width: 100%;
    border: 1px solid black;
}









/* SOBRE NOSOTROS */
.sobreNosotros {
    border-top: 4px solid #f08080;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sobreNosotros-h2 {
    padding: 20px 0 30px 0;
}
.sobreNosotros-p {
    text-indent: 20px;
    padding: 0 20px;
    margin-bottom: 5px;
}
.sobreNosotros-h3 {
    text-align: center;
    margin-top: 50px;
}
.sobreNosotros-iframe {
    padding: 20px;
    width: 560px;
    height: 315px;
    max-width: 100%;
    max-height: auto;
}





/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    .header {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }
    .main {
        padding-top: 70px;
    }
    .sectionFlex {
        flex-direction: column;
    }

    .envio {
        width: 100%;
        border: none;
        border-bottom: 4px solid #f08080;
        border-top: 4px solid #f08080;
    }
    .tablaDePrecios {
        max-width: 100%;
    }
    .precio {
        width: 100%;
    }
    
}   
@media screen and (max-width: 500px) {
    .header {
        width: 100%;
    }
    .main {
        width: 100%;
        margin: 0;
    }
}