/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    height: 2.25em;
    padding: 10px;
    background-color: #f2f093;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 3px solid black;
}
/* HEADER > TITULO DE LA PÃGINA */
.tituloPagina {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tituloPagina-h1{
    display: inline-block;
    font-size: 1em;
}
.tituloPagina-img {
    max-width: 1em;
}
/* HEADER > NAV-BAR */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}
.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1em;
}
.nav-link:hover {
    color: #fff;
}

.body {
    background-image: url(https://imag.bonviveur.com/pan-chipa-en-un-cestillo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
}



/* MAIN */
.main {
    background-color: #f2f093aa;
    padding-top: 60px;
    margin: 0 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INICIO */




/* Segunda Seccion */
.sectionFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.envio {
    max-width: 30%;
}
.tablaDePrecios {
    max-width: 70%;
}








/* SOBRE NOSOTROS */
.sobreNosotros {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sobreNosotros-h2 {
    padding: 20px 0 30px 0;
}
.sobreNosotros-p {
    text-indent: 20px;
    padding: 0 20px;
    margin-bottom: 5px;
}
.sobreNosotros-h3 {
    margin-top: 50px;
}
.sobreNosotros-iframe {
    padding: 20px;
    
    max-width: 560px;
    max-height: 315px;
}





/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
    .header {
        position: absolute;
    }
    .main {
        padding-top: 0;
    }
}    
